<!DOCTYPE html>
<html lang="pl">
  <head>
   <meta http-equiv="refresh" content="10">
   <title>{{pageTitle}}</title>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{temp|tojson|safe}}, false);

        var options = {
          width: 600, height: 320,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <br/>
    <center><div id="chart_div" style="width: 600px; height: 320px;"></div></center>
  </body>
</html>